package templates

templ DiscoveryFragment(loc Localizer) {
	<div id="discover-root">
		<section class="container py-8">
			<h1>{ T(loc, "web.discovery.title") }</h1>
			<p>{ T(loc, "web.discovery.coming_soon") }</p>
		</section>
	</div>
}
